<ul class= "displaychatbox">
  <% @chatrooms.each do |chatroom| %>
      <%= link_to activity_chatroom_path(chatroom.activity, chatroom) do %>
        <div class="btn-chatbox" data-controller="display-chatbox" data-display-chatbox-target="toto" data-display-chatbox-numero-value="<%= chatroom.id %>" >
            <%= chatroom.activity.title  %>
        </div>
      <% end %>
  <% end %>
</ul>
<% if @chatroom %>

    <div class="container chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    >

      <div class="messages" data-chatroom-subscription-target="messages" >
        <% @chatroom.messages.each do |message| %>
          <% if message.content != "" %>
          <%= render "messages/message", message: message %>
          <% end %>
        <% end %>
      </div>

      <%= simple_form_for [@activity, @chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex align-items-center" } do |f| %>

      <%= f.input :content,
        label: false,
        placeholder: "Ecrire ici",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
    <% end %>
    </div>
<% end %>
