<div class="homepage">
  <header>
    <div class="header-content">
      <div class="content-left">
        <h1>Rejoins l'aventure<br>proche de chez toi</h1>
      </div>
      <div class="content-right">
        <%= link_to activities_path do %>
          <img class="img-homepage" src="<%= image_path('homepage-1stbanner') %>" alt="Outdoor Adventure">
        <% end %>
      </div>
    </div>
  </header>

  <section class="discover-activities">
    <h2>
      <span class="discover-text">Découvrez nos annonces</span>
      <span class="outdoor-text">Outdoor</span>
    </h2>

    <div class="discovery-homepage">
      <%= link_to index_with_map_activities_path, class: 'card-index card-index-map' do %>
        MAP
      <% end %>
      <%= link_to activities_path, class: 'card-index card-index-annonce' do %>
        ANNONCE
      <% end %>
    </div>
  </section>

<%# copier le carousel de Jerem %>
<div class="annonces-carousel">
  <h2 class="title">Catégories</h2>
  <section class="carousel-category">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @categories.each_slice(3).with_index do |categories_group, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row justify-content-center">
              <% categories_group.each do |category| %>
                <div class="col-3">
                  <div class="card-category" style="background-image: url('<%= cl_image_path category.photo.key %>');">
                    <%= link_to activities_path(category: category), class: "card-link" do %>
                      <h2 class="title-category"><%= category.name %></h2>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</div>



<section class="latest-activities">
  <h2>Dernières annonces</h2>

  <div class="activities-grid">
    <% @latest_activities.each do |activity| %>

      <div class="card-latest-activities">
        <%= link_to activity_path(activity), class: "card-link" do %>

          <div class="activity-image">
            <% if activity.photo.attached? %>
              <%= cl_image_tag activity.photo.key, class: "img-thumbnail", alt: "Activity Photo" %>
            <% else %>
              <%= image_tag "images/outdoor-logo.png", class: "img-thumbnail", alt: "Default Activity Photo" %>
            <% end %>
             <div class="activity-date">
              <p><%= activity.date.strftime("%d %B %Y") %></p>
            </div>
          </div>

          <div class="activity-title">
            <h3>Le trip <%= activity.title %> de <%= activity.user.username %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

</div>
