<div class="homepage">
  <header>
    <div class="header-content">
      <div class="content-left">
        <h1>Rejoins l'aventure<br>proche de chez toi</h1>
      </div>
      <div class="content-right">
        <img class="img-homepage" src="<%= image_path('homepage-1stbanner') %>" alt="Outdoor Adventure">
      </div>
    </div>
  </header>

  <section class="discover-activities">
    <h2>
      <span class="discover-text">Découvrez nos annonces</span>
      <span class="outdoor-text">Outdoor</span>
    </h2>

    <section class="discovery-homepage">
      <div class="body-discovery">
        <div class="page-content-discovery">
          <div class="card-discovery">
            <%= link_to index_with_map_activities_path, class: 'btn card-trip' do %>
              <img src="<%= image_path('carte') %>" alt="Outdoor Adventure">
              <div class="card-trip-infos">
                <h2 class="title-discovery">Map</h2>
              </div>
            <% end %>
          </div>
          <div class="card-discovery">
            <%= link_to activities_path, class: 'btn card-trip' do %>
              <img src="<%= image_path('annonce') %>" alt="Outdoor Adventure">
              <div class="card-trip-infos">
                <h2 class="title-discovery">Annonces</h2>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </section>

<%# copier le carousel de Jerem %>
  <section class="carousel">
    <h2>Catégories</h2>
    <div class="carousel-container">
      <% categories = [] %>
      <% @activities.each do |activity| %>
        <% categories << activity.category %>
      <% end %>
      <% categories.uniq.each do |category| %>
        <span class="filter-option" data-action="click->filter#filter"><%= category %></span>
      <% end %>
        <%# <%= link_to activity.category, activities_path(category: activity.id), class: 'carousel-item' %>
      <%# <% end %>
    </div>
  </section>

  <section class="latest-activities">
    <h2>Dernières annonces</h2>
    <div class="activities-grid">
      <% @latest_activities.each_slice(3) do |row| %>
        <div class="row-activity">
          <% row.each do |activity| %>
            <div class="col-activity">
              <div class="card-latest-activities">
                <div class="activity-image">
                  <% if activity.photo.attached? %>
                    <%= cl_image_tag activity.photo.key, class: "img-thumbnail", width: "150", height: "100" %>
                  <% else %>
                    <img src="images/outdoor-logo.png" alt="Activity Photo" class="img-thumbnail" width="150" height="100">
                  <% end %>
                </div>
                <div class="activity-title">
                  <h3>Le trip <%= activity.title %> de </h3>
                  <%= link_to 'Voir', activity_path(activity) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
