<div class="container d-flex" id="dashboard-container">
  <div class="col">
    <div class="col-md-10 mt-4">
      <div class="card-background-profile bg-dark">
        <div class="d-flex justify-content-center my-2">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "rounded-circle img-thumbnail-profile", width: "100px" %>
          <% else %>
            <img src="image_path('homepage-1stbanner')" alt="" width="100px">
          <% end %>
        </div>
        <div class="card-body-profile text-center">
          <div class="d-flex flex-column align-items-center">
            <div class="bg-white card-profile p-2 mb-2 col-8 mb-4 text-center"><p><%= @user.username %></p></div>
            <div class="bg-white card-profile p-2 mb-2 col-8 mb-4 text-center"><p><%= @user.age %> ans</p></div>
            <div class="bg-white card-profile p-2 mb-2 col-8 mb-4 text-center"><p><%= @user.status %></p></div>
            <div class="bg-white card-profile p-2 mb-2 col-8 mb-4 text-center"><p><%= @user.email %></p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-4">
    <div class="card-background-profile h-100 bg-dark">
      <div class="titre-profile text-center mt-3">
    <div class="col-md-8  mt-4"  data-filter-target="card" data-category="<%= "buddy.category" %>">
    <div class="card h-100 bg-dark">
      <div class=" text-center mt-3">
        <p> "Mes Annonces" </p>
        <p class="text-white"> "Mes Annonces crée" </p>
        <% current_user.bookings.where(accepted: nil).each do |booking| %>
          <p class="text-white"><%= booking.activity.title %></p>
          <p class="text-white"><%= booking.id %></p>
        <% end %>
      </div>
      <div class="card bg-white carda p-4 mb-4 col-8 mb-4 text-center"><p><%= "Annonces" %></p></div>
    </div>
  </div>
</div>

<div class="container d-flex" id="dashboard-container">
  <div class="col-md-8  mt-4"  data-filter-target="card" data-category="<%= "buddy.category" %>">
    <div class="card h-100 bg-dark">
      <div class=" text-center mt-3">
        <p class="text-white"> "Ils m'on accepté" </p>
        <% current_user.bookings.where(accepted: true).each do |booking| %>
          <p class="text-white"><%= booking.activity.title %></p>
          <p class="text-white"><%= booking.id %></p>
        <% end %>
      </div>
      <div class="card bg-white carda p-4 mb-4 col-8 mb-4 text-center"><p><%= "Annonces" %></p></div>
    </div>
  </div>
</div>

<div class="container d-flex" id="dashboard-container">
  <div class="col">
    <div class="col-md-10 mt-4"  data-filter-target="card">
    </div>
  </div>
  <div class="col-md-6  mt-4"  data-filter-target="card" data-category="<%= "buddy.category" %>">
    <div class="card h-100 bg-dark">
      <div class=" text-center mt-3">
        <p class="text-white"> "Les bookings que je dois valider :" </p>
        <% current_user.bookings.where(accepted: nil).each do |booking| %>
           <h2><%= booking.activity.title %></h2>
             <% if booking.accepted.nil? %>
              <%= booking.user.username %> souhaite reserver une place !
              <%= booking.accepted %>
              <%= link_to "Accepter", activity_booking_path(booking.activity, booking, accepted: :true), data: { "turbo-method": :patch }%>
              <%= link_to "Refuser", activity_booking_path(booking.activity, booking, accepted: :false), data: { "turbo-method": :patch }%>
            <% end %>
        <% end %>
      </div>
      <div class="card bg-white carda p-4 mb-4 col-8 mb-4 text-center"><p><%= "Annonces" %></p></div>
    </div>
  </div>
  <div class="col-md-6  mt-4"  data-filter-target="card" data-category="<%= "buddy.category" %>">
    <div class="card h-100 bg-dark">
      <div class=" text-center mt-3">
        <p class="text-white"> "L'organisateur doit me valider :" </p>
        <% current_user.bookings.where(accepted: nil).each do |booking| %>
          <p class="text-white"><%= booking.activity.title %></p>
          <p class="text-white"><%= booking.activity.user.username %></p>
        <% end %>
      </div>
      <div class="card bg-white carda p-4 mb-4 col-8 mb-4 text-center"><p><%= "Annonces" %></p></div>
    </div>
  </div>
</div>
    <div class="card-background-profile h-100 bg-dark">
      <div class="titre-profile text-center mt-3">
        <p>MES AVENTURES À VENIR</p>
      </div>
      <div class="card bg-white card-profile p-4 col-8 text-center">
        <p>Aventure</p>
      </div>
    </div>
  </div>
</div>
