<div class="containerz justify-content-between ">
  <div class="card10 ">
    <div class=" card3 d-flex ">
      <div class="card p-3 m-4 text-white">
        <div class="row ">
          <div class="col ">
            <div class=" d-flex">
              <% if @user.photo.attached? %>
              <p class="photo">  <%= cl_image_tag @user.photo.key, class: "rounded-circle img-thumbnail" %></p>
              <% else %>
              <img src="images/deliveroo.png" alt="" width="100px">
              <% end %>
            </div>
            <div class="col text-center">
              <div class="text-center"><p><%= @user.username %></p></div>
              <div class="text-center"><p><%= @user.age %> ans</p></div>
              <div class="text-center"><p>Niveau : <%= @user.status %></p></div>
              <div class="text-center"><p><%= @user.email %></p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card5 p-3  m-4   text-white "  data-filter-target="carda" data-category="<%= "buddy.category" %>">
        <div class="m-4">
          <p class="text-with"> Mes booking :</p>
          <!-- Button trigger modal -->
          <!-- Modal -->

              <div class="modal-body-booking">
                  <div class="bookings-made">
                    <% current_user.bookings.each do |booking| %>
                    <!-- Pending bookings -->
                    <% if booking.accepted == nil %>
                          <div class="text-center cardy-booking" data-bs-toggle="modal" data-bs-target="#modal-activities0">
                            <div class="cardy-booking-pending">
                              <div class="modal-img-booking">
                                <% if booking.activity.photo.attached? %>
                                  <%= cl_image_tag booking.activity.photo.key, class: "modal-img-booking" %>
                                <% else %>
                                  <img src="images/outdoor-logo.png" alt="Activity Photo" class="modal-img" >
                                <% end %>
                              </div>
                              <div><%= booking.activity.title %></div>
                               <i class="fa-regular fa-clock"></i>
                            </div>
                          </div>
                       <!-- Accepted bookings -->
                      <% elsif booking.accepted == true %>

                          <div class="text-center" data-bs-toggle="modal" data-bs-target="#modal-activities0">
                            <div class="cardy-booking-accepted">
                              <div class="modal-img-booking">
                                <% if booking.activity.photo.attached? %>
                                  <%= cl_image_tag booking.activity.photo.key, class: "modal-img-booking" %>
                                <% else %>
                                  <img src="images/outdoor-logo.png" alt="Activity Photo" class="modal-img" >
                                <% end %>
                              </div>
                              <div><%= activity.title %></div>
                               <i class="fa-solid fa-check"></i>
                            </div>
                          </div>

                      <!-- Refused bookings -->
                      <% else %>
                         <% booking.activity.each do |activity| %>
                          <div class=" text-center" data-bs-toggle="modal" data-bs-target="#modal-activities0">
                            <div class="cardy-booking-refused">
                              <div class="modal-img-booking">
                                <% if booking.activity.photo.attached? %>
                                  <%= cl_image_tag booking.activity.photo.key, class: "modal-img-booking" %>
                                <% else %>
                                  <img src="images/outdoor-logo.png" alt="Activity Photo" class="modal-img" >
                                <% end %>
                              </div>
                              <div><%=  booking.activity.title %></div>
                               <i class="fa-solid fa-xmark"></i>
                            </div>
                          </div>
                        <% end %>
                        <% end %>


                          <div class="modal fade justify-content-center" id="modal-activities0" tabindex="-1" aria-labelledby="modalLabel-activities0" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content-activity0">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modalLabel-activities0">Mes annonces en cours</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body modal-body-activity lil-text">
                                    <div class="img-container">
                                      <% user = booking.activity.user %>
                                      <div class="imgmodal">
                                        <%= cl_image_tag user.photo.key, class: "rounded-circle img-thumbnail-profile2", width: "250px" %>
                                      </div>
                                    </div>
                                    <p class="bordered-text description x text-black"><strong><%= booking.activity.description %> à <%= booking.activity.location %></strong></p>
                                    <div class="text-black">
                                      <p><strong>Date :</strong> <%= booking.activity.date %></p>
                                      <p><strong>Durée :</strong> <%= booking.activity.duration %> heures</p>
                                      <p><strong>Prix :</strong> <%= booking.activity.price %>€ par personne</p>
                                      <p><strong>Places disponibles :</strong> <%= booking.activity.capacity %></p>
                                      <p><strong>Level :</strong> <%= booking.activity.level %></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                    <% end %>
                  </div>
                </div>












        </div>
      </div>
    </div>
    <div class="card3 d-flex">
      <div class="card p-3 m-4 text-white">
        <div class="">
          <p> EVALUATIONS </p>
          <div class="d-flex mt-5 mr-5 ">
            <div class="cardz ">
              <h3 class="title text-black">évaluation</h3>
            </div>
            <div class="cardz">
              <h3 class="title text-black">évaluation</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card5 p-3 m-4 text-white "  data-filter-target="carda" data-category="<%= "buddy.category" %>">
        <div class="m-4">
          <div><p class="text-white"> Réservation de mes activités : </p></div>
          <div class="d-flex">
            <button type="button" class=" text-center cardz" data-bs-toggle="modal" data-bs-target="#modal-activities-recu">
              Demande de reservation recu
            </button>
            <div class="modal fade justify-content-center" id="modal-activities-recu" tabindex="-1" aria-labelledby="modalLabel-activities-recu" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content2">
                  <div class="modal-header2">
                    <h1 class="modal-title fs-5" id="modalLabel-activities-recu">Demande de reservation recu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="d-flex">
                      <% @booking_to_accept.each do |booking| %>
                        <% if booking.accepted.nil? %>
                          <div class="cardw">
                            <div class="modal-img">
                              <%= cl_image_tag booking.activity.photo.key, class: "img-thumbnail" %>
                            </div>
                            <div><%= booking.activity.title %></div>
                            <div><%= booking.activity.location %></div>
                            <p class="text-black p-2"><%= booking.user.username %> souhaite reserver </p>
                            <%= link_to "OK", activity_booking_path(booking.activity, booking, accepted: :true), data: { "turbo-method": :patch } %>
                            <%= link_to "X", activity_booking_path(booking.activity, booking, accepted: :false), data: { "turbo-method": :patch } %>
                            <%= booking.accepted %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Button trigger modal -->
            <!-- Modal -->
            <button type="button" class=" text-center cardz" data-bs-toggle="modal" data-bs-target="#modal-activities-accepte">
              Demande de reservation Accepté
            </button>
            <div class="modal fade justify-content-center" id="modal-activities-accepte" tabindex="-1" aria-labelledby="modalLabel-activities-accepte" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content2">
                  <div class="modal-header2">
                    <h1 class="modal-title fs-5" id="modalLabel-activities-accepte">Demande de reservation Accepté</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="d-flex">
                      <% @my_booking_demand_accepted.each do |booking| %>
                        <div class="cardy">
                          <div class="modal-img">
                            <%= cl_image_tag booking.activity.photo.key, class: "modal-img" %>
                          </div>
                          <div><%= booking.activity.title %></div>
                          <div><%= booking.activity.location %></div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button trigger modal -->
            <!-- Modal -->
            <button type="button" class=" text-center cardz" data-bs-toggle="modal" data-bs-target="#modal-activities-refuse">
              Demande de reservation que l'on m'a refusé
            </button>
            <div class="modal fade justify-content-center" id="modal-activities-refuse" tabindex="-1" aria-labelledby="modalLabel-activities-refuse" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content2">
                  <div class="modal-header2 d-flex">
                    <h1 class="modal-title fs-5" id="modalLabel-activities-refuse">Demande de reservation Refusé</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="d-flex">
                      <% @my_booking_demand_denied.each do |booking| %>
                        <div class="cardy">
                          <div class="modal-img">
                            <%= cl_image_tag booking.activity.photo.key, class: "img-thumbnail" %>
                          </div>
                          <div><%= booking.activity.title %></div>
                          <div><%= booking.activity.location %></div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div >


      </div>
    </div>
  </div>
</div>
