<div class="btn-dashboard">
 <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-activities-new">
          Déposer une annonce
      </button>
      <div class="modal fade justify-content-center" id="modal-activities-new" tabindex="-1" aria-labelledby="modalLabel-activities-new" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="modalLabel-activities-new">Déposer une annonce</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <%= simple_form_for @activity do |f| %>
                          <div class="form-row">
                              <div class="col">
                                  <%= f.input :photo, as: :file, class: "form-control-new" %>
                              </div>
                              <div class="col">
                                  <%= f.input :title, label: "Titre", class: "form-control-new" %>
                              </div>
                          </div>
                          <%= f.input :description, class: "form-control-new" %>
                          <div class="field-container">
                              <div class="field-group">
                                  <%= f.input :date, as: :string, label: "Date de l'activité", input_html: { data: { controller: "datepicker" } }, class: "form-control-new small-input" %>
                              </div>
                              <div class="field-group">
                                  <%= f.input :duration, label: "Durée de l'activité", class: "form-control-new small-input" %>
                              </div>
                          </div>
                          <div class="field-container">
                              <div class="field-group">
                                  <%= f.input :level, label: "Niveau", collection: ["Débutant", "Intermédiaire", "Avancé"], class: "form-control-new small-input" %>
                              </div>
                              <div class="field-group">
                                  <%= f.input :category_id, label: "Catégorie", collection: Category.all, class: "form-control-new small-input" %>
                              </div>
                          </div>
                          <%= f.input :price, label: "Prix (€)", class: "form-control-new" %>
                          <%= f.button :submit, "Créer activité", class: "btn-submit-new" %>
                      <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>

<div class="containerz justify-content-center">
  <div class="card10">
    <div class="card3 d-flex">
      <div class="card p-3 m-4 text-white">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center">
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key, class: "rounded-circle img-profile" %>
              <% else %>
                <img src="images/deliveroo.png" alt="" width="100px" class="img-profile">
              <% end %>
            </div>
            <div class="col text-center">
              <div class="text-center">
                <p><%= @user.username %></p>
              </div>
              <div class="text-center">
                <p><%= @user.age %> ans</p>
              </div>
              <div class="text-center">
                <p>Niveau : <%= @user.status %></p>
              </div>
              <div class="text-center">
                <p><%= @user.email %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card5 p-3 m-4 text-white" data-filter-target="carda" data-category="<%= "buddy.category" %>">
        <div class="m-4">
          <p class="text-with">MES RESERVATIONS :</p>
          <div class="modal-body-booking">
            <div class="bookings-made">
              <% if @past_activities_to_review.any? %>
                <div class="alert alert-info" role="alert">
                  Vous avez des activités passées à évaluer :
                  <% @past_activities_to_review.each do |activity| %>
                    <%= link_to "Laisser une critique pour #{activity.title}", new_activity_review_path(activity.id), class: "btn" %><br>
                  <% end %>
                </div>
              <% end %>
              <% current_user.bookings.each do |booking| %>
                <% if booking.accepted == nil %>
                  <div class="text-center cardy-booking" data-bs-toggle="modal" data-bs-target="#modal-activities<%= booking.id %>">
                    <div class="cardy-booking-pending">
                      <div class="modal-img-booking">
                        <% if booking.activity.photo.attached? %>
                          <%= cl_image_tag booking.activity.photo.key, class: "modal-img-booking" %>
                        <% else %>
                          <img src="images/outdoor-logo.png" alt="Activity Photo" class="modal-img-booking">
                        <% end %>
                      </div>
                      <div><%= booking.activity.title %></div>
                      <i class="fa-regular fa-clock"></i>
                    </div>
                  </div>
                <% elsif booking.accepted == true %>
                  <div class="text-center" data-bs-toggle="modal" data-bs-target="#modal-activities<%= booking.id %>">
                    <div class="cardy-booking-accepted">
                      <div class="modal-img-booking">
                        <% if booking.activity.photo.attached? %>
                          <%= cl_image_tag booking.activity.photo.key, class: "modal-img-booking" %>
                        <% else %>
                          <img src="images/outdoor-logo.png" alt="Activity Photo" class="modal-img-booking">
                        <% end %>
                      </div>
                      <div><%= booking.activity.title %></div>
                      <i class="fa-solid fa-check"></i>
                    </div>
                  </div>
                <% else %>
                  <div class="text-center" data-bs-toggle="modal" data-bs-target="#modal-activities<%= booking.id %>">
                    <div class="cardy-booking-refused">
                      <div class="modal-img-booking">
                        <% if booking.activity.photo.attached? %>
                          <%= cl_image_tag booking.activity.photo.key, class: "modal-img-booking" %>
                        <% else %>
                          <img src="images/outdoor-logo.png" alt="Activity Photo" class="modal-img-booking">
                        <% end %>
                      </div>
                      <div><%= booking.activity.title %></div>
                      <i class="fa-solid fa-xmark"></i>
                    </div>
                  </div>
                <% end %>
                <div class="modal fade justify-content-center" id="modal-activities<%= booking.id %>" tabindex="-1" aria-labelledby="modalLabel-activities<%= booking.id %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content-activity<%= booking.id %>">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="modalLabel-activities<%= booking.id %>">Mes annonces en cours</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body modal-body-activity  modal-custom lil-text">
                          <div class="img-container">
                            <% user = booking.activity.user %>
                            <div class="imgmodal">
                              <%= cl_image_tag user.photo.key, class: "rounded-circle img-thumbnail-profile2", width: "250px" %>
                            </div>
                          </div>
                          <p class="bordered-text description x text-black"><strong><%= booking.activity.description %> à <%= booking.activity.location %></strong></p>
                          <div class="text-black">
                            <p><strong>Date :</strong> <%= booking.activity.date %></p>
                            <p><strong>Durée :</strong> <%= booking.activity.duration %> heures</p>
                            <p><strong>Prix :</strong> <%= booking.activity.price %>€ par personne</p>
                            <p><strong>Places disponibles :</strong> <%= booking.activity.capacity %></p>
                            <p><strong>Level :</strong> <%= booking.activity.level %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card3 d-flex">
      <div class="card p-3 m-4 text-white">
        <div>
          <p>EVALUATIONS</p>
          <div class="d-flex mt-5 mr-5">
            <% @reviews.each do |review| %>
              <div class="cardz">
                <h3 class="title text-black">Evaluation</h3>
                <p class="text-black"><%= review.content %></p>
                <p class="text-black">Rating: <%= review.rating %>/5</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card5 p-3 m-4 text-white" data-filter-target="carda" data-category="<%= "buddy.category" %>">
        <p class="text-white m-4">DEMANDES DE RESERVATIONS :</p>
        <div class="d-flex">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nom de l'activité</th>
                <th scope="col">Nom de l'organisateur</th>
                <th scope="col">Nombre de personnes</th>
                <th scope="col">Status</th>
                <th scope="col">Accepter</th>
                <th scope="col">Refuser</th>
              </tr>
            </thead>
            <tbody>
              <% @booking_to_accept.each do |booking| %>
                <tr>
                  <td><%= booking.activity.title %></td>
                  <td><%= booking.user.username %></td>
                  <td><%= booking.number %></td>
                  <% if booking.accepted %>
                    <td>Accepté</td>
                  <% elsif booking.accepted == false %>
                    <td>Refusé</td>
                  <% else %>
                    <td>En attente</td>
                  <% end %>
                  <td>
                    <%= form_with model: [booking.activity, booking], method: :patch, local: true do |form| %>
                      <%= form.hidden_field :accepted, value: true %>
                      <%= form.submit "Accepter", class: "btn btn-success" %>
                    <% end %>
                  </td>
                  <td>
                    <%= form_with model: [booking.activity, booking], method: :patch, local: true do |form| %>
                      <%= form.hidden_field :accepted, value: false %>
                      <%= form.submit "Refuser", class: "btn btn-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
