<div class="info-window">
 <div class="activity-image">
            <% if activity.photo.attached? %>
              <%= cl_image_tag activity.photo.key, class: "img-thumbnail", alt: "Activity Photo" %>
            <% else %>
              <%= image_tag "images/outdoor-logo.png", class: "img-thumbnail", alt: "Default Activity Photo" %>
            <% end %>
             <div class="activity-date">
              <p><%= activity.date.strftime("%d %B %Y") %></p>
            </div>
          </div>
  <h5><%= activity.title %></h5>
  <p><%= activity.description %></p>
</div>
