<h1>Toutes les annnonces </h1>

<section class="carousel">
  <div class="carousel-container">
    <% categories = [] %>
    <% @activities.each do |activity| %>
      <% categories << activity.category %>
    <% end %>
    <% categories.uniq.each do |category| %>
      <span class="filter-option" data-action="click->filter#filter"><%= category %></span>
    <% end %>
  </div>
</section>

 <p>Filtres</p>

<div id="activities-container">
  <div class="row">
    <% @activities.each do |activity| %>
      <div class="col-md-4 mb-4"  data-filter-target="card" data-category="<%= activity.category %>">
        <div class="card h-100">
          <a href="<%= activities_path(activity) %>" class="text-decoration-none" data-title="<%= activity.title %>" data-name="<%= activity.name %>" data-date="<%= activity.date %>" data-time="<%= activity.time %>" data-level="<%= activity.level %>">
            <div class="d-flex justify-content-center mt-3">
              <% if activity.photo.attached? %>
                <%= cl_image_tag activity.photo.key, class: "img-thumbnail", width: "150", height: "100" %>
              <% else %>
                <img src="images/deliveroo.png" alt="Activity Photo" class="img-thumbnail" width="150" height="100">
              <% end %>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title"><%= activity.title%></h5>
                <p class="card-text"><%= activity.description %></p>
                <p class="card-options"><%= activity.options %></p>
                <button>Voir l'activité</button>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
