<div class="container-big">
<h1 class="title">Annonces </h1>
  
  <section class="carousel-category">
    <div class="carousel-container">
      <div class="body-category">
        <div class="page-content-category">
            <% @activities.uniq.each do |activity| %>
              <div class="card-category">
                <h2 class="title-category"><%= activity.category %></h2>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </section>

  <div class="filter-container">
    <%= form_with(url: activities_path, method: :get, local: true) do %>
      <div class="filters">
        <div>
          <label for="start_date">Date de début:</label>
          <%= date_field_tag :start_date, params[:start_date] %>
        </div>
        <div>
          <label for="end_date">Date de fin:</label>
          <%= date_field_tag :end_date, params[:end_date] %>
        </div>
        <div>
          <label for="num_people">Nombre de personnes:</label>
          <%= number_field_tag :num_people, params[:num_people] %>
        </div>
        <div>
          <label for="level">Niveau:</label>
          <%= select_tag :level, options_for_select(['Débutant', 'Intermédiaire', 'Avancé'], params[:level]), include_blank: true %>
        </div>
        <div>
          <%= submit_tag 'Filtrer', class: 'btn-btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>

<div class="container-add">
  <%= link_to "Déposer une annonce", new_activity_path, class:'btn' %>
</div>

<div id="activities-container">
  <div class="row">
    <% @activities.each do |activity| %>
      <div class="col-md-4 mb-4"  data-filter-target="card" data-category="<%= activity.category %>">
        <div class="card-annonce">
          <a href="<%= activities_path(activity) %>" class="text-decoration-none" data-title="<%= activity.title %>" data-name="<%= activity.name %>" data-date="<%= activity.date %>" data-time="<%= activity.time %>" data-level="<%= activity.level %>">
            <div class="d-flex justify-content-center mt-3 image-container">
              <% if activity.photo.attached? %>
                <%= cl_image_tag activity.photo.key, class: "img-thumbnail", width: "350", height: "300" %>
              <% else %>
                <img src="images/outdoor-logo.png" alt="Activity Photo" class="img-thumbnail" width="150" height="100">
             <% end %>
             <button class="card-cta">Voir l'activité</button>
            </div>
            <div class="card-body">
                <h5 class="card-name"><%= activity.name%></h5>
                <p class="card-title"><strong><%= activity.title%></strong></p>
                <p class="card-text"><%= activity.description %></p>
            </div>
          </a>

        </div>
      <% end %>
    </div>
  </div>
</div>
