<div class="container-big">
  <h3 class="text-center">Catégories</h3>
  <section class="carousel-category">
    <div class="carousel-container">
      <div class="body-category">
        <div class="page-content-category">
        <% categories = @activities.pluck(:category).uniq %>
          <% categories.each do |category| %>
            <div class="card-category">
              <h2 class="title-category"><%= category %></h2>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <div class="flex-container">
      <div class="filter-container  ">
        <%= form_with(url: activities_path, method: :get, local: true) do %>
        <div class="filters">
            <div class="filter-item">
                <label for="start_date">Début: </label>
                <%= date_field_tag :start_date, params[:start_date] %>
            </div>
            <div class="filter-item">
                <label for="end_date">Fin: </label>
                <%= date_field_tag :end_date, params[:end_date] %>
            </div>
            <div class="filter-item">
                <label for="num_people">Nb personnes: </label>
                <%= number_field_tag :capacity, params[:capacity] %>
            </div>
            <div class="filter-item">
                <label for="level">Niveau: </label>
                <%= select_tag :level, options_for_select(["Débutant", "Intermédiaire", "Avancé"], params[:level]), class:"filter-input", include_blank: true %>
            </div>
            <div class="filter-item">
                <%= submit_tag "Filtrer", class: "btn mx-2" %>
                <%= link_to "Réinitialiser", activities_path, class: "btn reset-btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <div class="container-add">
    <%= link_to "Déposer une annonce", new_activity_path, class:"btn" %>
  </div>
  <h3>Toutes les annonces</h3>
  <div id="activities-container">
    <div class="row">
      <% if @activities.any? %>
        <% @activities.each do |activity| %>
        <div class="col-md-4 mb-4"  data-filter-target="card" data-category="<%= activity.category %>">
          <div class="card-annonce">
              <div class="d-flex justify-content-center mt-3 image-container">
                <% if activity.photo.attached? %>
                  <%= cl_image_tag activity.photo.key, class: "img-thumbnail", width: "350", height: "300" %>
                <% else %>
                  <img src="images/outdoor-logo.png" alt="Activity Photo" class="img-thumbnail" width="150" height="100">
                <% end %>
                <button class="card-cta">Voir l'activité</button>
                </div>
                <div class="card-body text-left">
                  <h5 class="card-name"><%= activity.name %></h5>
                  <p class="card-title"><strong><%= activity.title %></strong></p>
                  <p class="card-text"><%= activity.description %></p>
                  <div class="d-flex justify-content-center">
                    <button class="card-btn text-center">Voir l'activité</button>
                  </div>
                </div>
                      <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade justify-content-center" id="modal-<%= activity.id %>" tabindex="-1" aria-labelledby="modalLabel-<%= activity.id %>" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel-<%= activity.id %>"><%= activity.title %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <% user = activity.user %>
                    <%= cl_image_tag user.photo.key, class: "rounded-circle img-thumbnail-profile", width: "100px" %><p><%= activity.name %> vous propose une activité :</p>
                    <p><%= activity.description %></p>
                    <p>À <%= activity.location %></p>
                    <p>Level : <%= activity.level %></p>
                    <p>Date : <%= activity.date %></p>
                    <p>Durée : <%= activity.duration %> heures</p>
                    <p><%= activity.price %>€ par personne</p>
                    <p>Nombres de place restantes : <%= activity.capacity %></p>

                  </div>
                  <div class="modal-footer">
                    <%= button_tag 'Message', type: 'submit', class: 'btn btn-primary' %>

                    <div class="form-actions">
                      <%= form_with url: activity_bookings_path(activity, capacity: activity.capacity), method: :post do |f| %>
                        <%= f.number_field :booking_numbers %>
                        <%= button_tag 'Réserver', type: 'submit', class: 'btn btn-primary' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center mt-4">
          <p>Aucune annonce ne correspond à vos critères de recherche, veuillez modifier votre recherche.</p>
          <img class="img-homepage" src="<%= image_path("homepage-1stbanner") %>" alt="Outdoor Adventure">
        </div>
      <% end %>
    </div>
  </div>
</div>
