<div class="container-new">
  <div class="container-user">
  <div class="banniere-nouvelle-annonce">
    <h1>Déposer une nouvelle annonce</h1>
    </div>
    <div class="form-container">
      <%= simple_form_for @activity do |f| %>
        <%= f.input :photo, as: :file, class: "form-control" %>
        <%= f.input :name, label: "Nom" %>
        <%= f.input :description %>
        <%= f.input :date, as: :string, label: "Date de l'activité", input_html: {data: {controller: "datepicker"}} %>
        <%= f.input :duration, label: "Durée de l'activité" %>
        <%= f.input :level, label: "Niveau", collection: ["Débutant", "Intermédiaire", "Avancé"] %>
        <%= f.input :category_id, collection: Category.all %>
        <%= f.input :price, label: "Prix" %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
