<body class="bg-white">
<div class="container d-flex bg-secondary-subtle col-8 mb-4 mt-4 ">
<div class="row">
<div class="col">
  <h2 class="bg-success text-white text-center"><%="activity.title" %></h2>
  <div class="bg-white ounded-circle img-thumbnail p-2 mb-2 col-8 mb-4 text-center", width: 70, height: 100 ><p><%= "user.photo" %></h3></div>
  <div class="">
    <div class=" carda p-2  col-8  text-center " ><h3><%= "activity.user.name, activity.user.age ans" %></h3></div>
    <div class="bg-white carda p-2 mb-2 col-8 mb-4 text-center " ><p><%= "activity.category" %></h3></div>
    <div class="bg-white carda p-2 mb-2 col-8 mb-4 text-center"><p><%= "activity.date" %></p></div>
    <div class="bg-white carda p-2 mb-2 col-8 mb-4 text-center"><p><%= "activity.duration" %></p></div>
    <div class="bg-white carda p-2 mb-2 col-8 mb-4 text-center"><p><%= "activity.level" %></p></div>
    <div class="bg-white text-center"><p><%= "activity.description" %></p></div>
    <div class="bg-white carda p-2 col-8 mb-4 mb-2 text-center"><p><%= "activity.capacity" %></p></div>
    <div class="d -flex row-reverse pull-right"><h3><a href="..." class="btn btn-success">Message</a>       <a href="..." class="btn btn-success">Réserver</a>
  </div>
  </div>
  </div>
</div>
</div>
</div>
</body>

